textarea {
  width: 100%;
  max-width: 100%;
  height: 230px;
  line-height: 1.5;
  outline: none;
  border: none;
  resize: none;
  font-family: "Nunito", sans-serif;
  color: var(--text-color-secondary);
  caret-color: transparent;
}

textarea:focus-within {
  caret-color: black;
}

.css-work-quest-panel-textarea{
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px 14px;
  background: #fff;
  border-top: none;
}

.css-work-quest-wrap {
  width: 100%;
  height: 100%;
  background: var(--base-color-white-secondary);
  caret-color: transparent;
}

.textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.css-work-quest-top {
  padding: 0 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-work-quest-back {
  display: flex;
  width: 200px;
  align-items: center;
  opacity: 0;
  caret-color: none;
  border: none;
  color: transparent;
  cursor: default;
}

.work-quest-panel {
  background: #fff;
  height: 40px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 1rem;
  display: flex;
  border: 1px solid var(--border-primary);
}

.work-quest-panel button {
  background: transparent;
  padding: 10px;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

.css-work-quest-back.active {
  opacity: 1;
  cursor: pointer;
  color: var(--complementary-color-blue);
}

.css-work-quest-back div {
  width: 40px;
  height: 40px;
  background: var(--color-soft-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.css-work-quest-back span {
  font-weight: bold;
  margin-left: 1rem;
}

.css-work-quest-header {
  width: auto;
  height: 50vh;
}

.css-work-quest-page {
  justify-content: center;
  display: flex;
  margin-top: 3rem;
  font-weight: bold;
}

.css-work-quest-legend {
  font-weight: bold;
  padding: 0 20rem;
  line-height: 2rem;
  text-align: center;
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
  margin-top: 1rem;
}

.css-work-quest-pag {
  color: var(--complementary-color-blue);
}

.css-work-quest-div {
  margin: 0 0.5rem;
}

.css-work-quest-answer {
  padding: 0 25%;
}

.css-work-quest-answer-item {
  background: #ffffff;
  height: 7vh;
  border-radius: 8px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 1px 1px 20px var(--border-primary);
}

.css-work-quest-item-label {
  margin-left: 50px;
  color: var(--text-color-primary);
  font-weight: bold;
}

.control {
  font-size: 18px;
  position: relative;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.control input {
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: var(--complementary-color-blue);
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: var(--complementary-color-blue);
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: 0.6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: "";
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: 8px;
  left: 14px;
  width: 8px;
  height: 16px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.css-work-quest-suggest {
  text-align: center;
  line-height: 4rem;
}

.work-quest-note {
  padding: 1rem;
  margin-top: 1rem;
  background: var(--color-soft-blue);
  border-radius: 8px;
  color: var(--complementary-color-blue);
}

.work-quest-note span {
  cursor: pointer;
}

.css-work-quest-id {
  padding: 5px;
  background: var(--color-soft-blue);
  border-radius: 8px;
  color: var(--complementary-color-blue);
}

.css-work-quest-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20rem;
  margin-top: 4rem;
  bottom: 50px;
}

.css-work-quest-arrow {
  display: flex;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 20px var(--border-primary);
}

#right-arrow {
  background: linear-gradient( 22.58deg, rgba(23, 74, 213, 1) 0%, rgba(48, 99, 238, 1) 100% );
}

#right-arrow span {
  color: #ffffff;
  font-weight: bold;
  margin-right: 50px;
}

#left-arrow span {
  color: var(--text-color-primary);
  font-weight: bold;
  margin-left: 50px;
}
