#low-alert {
  background: #00ca4e;
}
#medium-alert {
  background: #ffbd44;
}

#high-alert {
  background: #ff605c;
}

.css-target-layout-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.css-target-layout-add {
  background: linear-gradient(
    22.58deg,
    rgba(23, 74, 213, 1) 0%,
    rgba(48, 99, 238, 1) 100%
  );
  border-right: 4px;
  height: 3rem;
  padding: 0 4rem;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
}

.css-target-layout-bc {
  display: flex;
  justify-content: flex-end;
}

.css-target-layout-tw {
  display: flex;
  flex-direction: column;
}

.css-target-layout-cw {
  display: flex;
  margin-top: 1rem;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  height: 6rem;
  max-height: 6rem;
  min-height: 6rem;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  overflow: hidden;
}

.css-target-layout-new {
  width: 1300px;
  height: 500px;
  background: #ffffff;
  border-radius: 4px;
  position: fixed;
  border: 1px solid var(--border-primary);
}

.css-target-layout-ltu {
  height: 98px;
  position: relative;
}

.css-target-layout-ltu span {
  position: absolute;
  margin-left: 28px;
  text-align: center;
  margin-top: 38px;
  color: var(--complementary-color-blue);
}

.css-target-layout-nt {
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
}

.css-target-layout-cwi {
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
}

.css-target-layout-cwf {
  display: flex;
  align-items: center;
}

.css-target-layout-cwf span {
  margin-right: 10px;
  color: red;
}

.css-target-layout-del {
}

.css-target-layout-cws {
  display: block;
}

.css-target-layout-cwst {
  font-size: var(--text-size-secondary);
  color: var(--text-color-secondary);
  line-height: 20px;
}

.css-target-layout-cwsb {
  line-height: 20px;
  font-size: var(--text-size-primary);
  display: flex;
}

.css-target-layout-arl {
  width: 20px;
  height: 8px;
  background: red;
  margin-right: 10px;
  border-radius: 4px;
}

.css-target-layout-cwsb div {
  display: flex;
  align-items: center;
  line-height: 40px;
}
