.css-project-description-wrap {
  width: 1200px;
  height: 1200px;
  border-radius: 4px;
}

.css-project-description-sub {
  padding: 0 2rem;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.css-project-description-close {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

.css-project-description-red {
  padding: 0 4rem;
  margin-top: 1rem;
}

.css-project-description-icon {
  cursor: pointer;
  margin: 0 10px;
}

.css-project-description-cw {
  padding: 0 4rem;
  margin-top: 4rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-project-description-ct {
  font-size: var(--text-size-secondary);
  color: var(--complementary-color-blue);
  background: var(--color-soft-blue);
  padding: 10px;
  border-radius: 8px;
}

.css-project-description-web {
  padding: 0 4rem;
}

.css-project-description-web a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.css-project-description-pub {
  margin-top: 1rem;
}

.css-project-card-tag-w {
  display: flex;
  padding: 0 4rem;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.css-project-description-pub-t {
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
  padding: 0 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-project-description-cb {
  font-weight: lighter;
  display: flex;
  align-items: center;
  font-size: var(--text-size-secondary);
}

.css-project-description-cb span {
  margin-right: 5px;
}

.css-project-description-pub-i {
  display: flex;
  padding: 0 4rem;
  margin-top: 2rem;
  align-items: center;
}
.css-project-description-pub-c {
  height: 40px;
  width: 93%;
  border: 1px solid var(--border-primary);
  background: var(--base-color-white-secondary);
  padding: 0 1%;
  border-radius: 4px;
  margin-left: 1rem;
}
.css-project-description-pub-p {
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  background: rgba(5, 162, 235, 0.178);
  border-radius: 50%;
}

.css-project-description-pub-l {
  padding: 0 4rem;
  display: flex;
  margin-top: 2rem;
}

.css-project-description-pub-v {
  width: 40px;
}

.css-project-description-pub-vf {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--text-size-secondary);
  color: var(--text-color-primary);
  font-weight: 700;
}

.css-project-description-pub-vfa {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 5px 0;
}

.css-project-description-pub-cr {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 900px;
  min-width: 900px;
  max-width: 900px;
}

.css-project-description-pub-crn {
  font-weight: bold;
  color: var(--text-color-primary);
}

.css-project-description-pub-crn span {
  font-weight: initial;
  margin-left: 5px;
  font-size: var(--text-size-secondary);
  color: var(--text-color-secondary);
}

.css-project-description-pub-crc {
  margin-top: 0.5rem;
  text-align: start;
}

.css-project-description-flx {
  display: flex;
  width: inherit;
  flex-direction: column;
  height: inherit;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
}

.css-project-description-rd {
  margin-top: 0.5rem;
  justify-content: center;
  display: flex;
}

.css-project-description-pub-rpl {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.css-project-description-pub-rpl span {
  display: flex;
  margin-left: 5px;
  font-size: var(--text-size-secondary);
  color: var(--complementary-color-blue);
  margin-bottom: 5px;
}

.css-project-description-title {
  padding: 0 4rem;
  font-size: var(--text-size-third);
  color: var(--text-color-primary);
  font-weight: bold;
}

.css-project-description-des {
  padding-left: 4rem;
  margin-top: 0.5rem;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
}

.css-project-description-subtitle {
  color: var(--text-color-primary);
  padding: 0 4rem;
  font-weight: bold;
  margin-top: 2em;
}

.css-project-description-ht {
  display: block;
}

.css-project-description-hd {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.css-project-description-two {
  display: flex;
}

.css-project-description-cp {
  background: #ffffff;
  border: 1px solid var(--border-primary);
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 4rem;
}

.css-project-description-cp span {
  margin-left: 5px;
}

.css-project-description-cl {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.css-project-description-cr {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--base-color-white-secondary);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' width='340' height='696' preserveAspectRatio='none' viewBox='0 0 340 696' id='svg914' sodipodi:docname='Mass Circles.svg' inkscape:version='1.1.1 (1:1.1+202109281944+c3084ef5ed)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview916' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='0.81987812' inkscape:cx='144.53368' inkscape:cy='426.28287' inkscape:window-width='1920' inkscape:window-height='1016' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='1' inkscape:current-layer='svg914' /%3E%3Cg clip-path='url(&quot;%23SvgjsClipPath1057&quot;)' fill='none' id='g907'%3E%3Cpath id='circle891' style='stroke:%234a7dff;stroke-width:2' d='m 501.52499,481.75 a 56.665001,56.665001 0 0 1 -56.665,56.665 56.665001,56.665001 0 0 1 -56.66501,-56.665 56.665001,56.665001 0 0 1 56.66501,-56.665 56.665001,56.665001 0 0 1 56.665,56.665 z' /%3E%3Cpath id='circle895' style='stroke:%234a7dff;stroke-width:2;stroke-opacity:0.5' d='M 149.315,661.10999 A 106.265,106.265 0 0 1 43.049999,767.37498 106.265,106.265 0 0 1 -63.215,661.10999 106.265,106.265 0 0 1 43.049999,554.84499 106.265,106.265 0 0 1 149.315,661.10999 Z' /%3E%3Cpath id='circle897' style='stroke:%234a7dff;stroke-width:2;stroke-opacity:0.5' d='m 404.065,608.97998 a 71.154999,71.154999 0 0 1 -71.155,71.155 71.154999,71.154999 0 0 1 -71.155,-71.155 71.154999,71.154999 0 0 1 71.155,-71.155 71.154999,71.154999 0 0 1 71.155,71.155 z' /%3E%3Cpath id='circle899' style='stroke:%234a7dff;stroke-width:2;stroke-opacity:0.5' d='m 94.424999,677.46002 a 60.605,60.605 0 0 1 -60.604999,60.605 60.605,60.605 0 0 1 -60.605,-60.605 60.605,60.605 0 0 1 60.605,-60.605 60.605,60.605 0 0 1 60.604999,60.605 z' /%3E%3Cpath id='circle903' style='stroke:%234a7dff;stroke-width:2;stroke-opacity:0.5' d='m 260.11499,23.76 a 31.355,31.355 0 0 1 -31.355,31.355 31.355,31.355 0 0 1 -31.355,-31.355 31.355,31.355 0 0 1 31.355,-31.3549993 31.355,31.355 0 0 1 31.355,31.3549993 z' /%3E%3Cpath id='circle905' style='stroke:%234a7dff;stroke-width:2;stroke-opacity:0.5' d='m 98.386836,29.932839 a 63,63 0 0 1 -62.999998,62.999999 63,63 0 0 1 -63,-62.999999 63,63 0 0 1 63,-63 63,63 0 0 1 62.999998,63 z' /%3E%3C/g%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 330.75213,562.16306 c -2.03962,-0.99018 -2.44832,-3.39324 -0.85016,-4.99252 1.6503,-1.65005 3.98597,-1.30212 5.04803,0.75138 1.38363,2.67548 -1.47676,5.56301 -4.19938,4.24064 z' id='path4245' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 359.20764,564.02139 c -2.02799,-0.67887 -2.08338,-3.3736 -0.0875,-4.32465 1.12395,-0.53509 1.22522,-0.52885 2.12701,0.13881 2.33967,1.73919 0.70138,5.10204 -2.03825,4.18462 z' id='path4243' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 303.3313,563.97139 c -1.81744,-0.90641 -1.91972,-2.87164 -0.21504,-4.14412 2.24841,-1.6788 4.82938,2.06887 2.61298,3.79418 -0.84765,0.66012 -1.56553,0.76514 -2.39768,0.35007 z' id='path4241' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 350.73786,577.58598 c -1.43277,-0.89892 -2.12801,-2.96892 -1.50465,-4.47744 1.59278,-3.84645 7.26355,-2.83363 7.26355,1.29723 0,2.95203 -3.25771,4.75023 -5.76078,3.17995 z' id='path4239' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 310.26205,577.99854 c -3.00742,-1.09395 -3.29546,-5.50962 -0.45382,-6.96287 1.8462,-0.94392 4.35053,-0.0128 5.15455,1.90572 1.25648,3.00841 -1.67205,6.15923 -4.70073,5.05715 z' id='path4237' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 330.73487,582.35184 c -2.45594,-0.71888 -3.79031,-3.76669 -2.6521,-6.05723 2.18902,-4.40491 8.46064,-3.0538 8.46064,1.82259 0,3.12256 -2.75261,5.12916 -5.80854,4.23464 z' id='path4235' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 373.97054,586.99242 c -2.03936,-2.03938 -0.69137,-5.3012 2.19553,-5.3012 1.90672,0 3.10555,1.16771 3.10555,3.02517 0,2.81988 -3.32847,4.24876 -5.30108,2.27603 z' id='path4233' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 285.92066,587.05502 c -1.97635,-1.97624 -0.59011,-5.36397 2.19577,-5.36397 2.91041,0 4.21627,3.14569 2.15952,5.20231 -1.31799,1.31812 -3.13145,1.38537 -4.35529,0.16129 z' id='path4231' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 357.88889,598.15703 c -2.18538,-1.10646 -3.04542,-4.23077 -1.74969,-6.35654 2.32268,-3.80943 8.2925,-2.14488 8.2925,2.31229 0,3.23471 -3.66554,5.50025 -6.54318,4.04425 z' id='path4229' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 302.49852,598.26961 c -3.15606,-1.30561 -3.40773,-6.14085 -0.41257,-7.96593 3.92071,-2.39081 8.51241,2.20089 6.12174,6.12172 -1.13021,1.85484 -3.68579,2.68036 -5.70728,1.84421 z' id='path4227' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 339.76376,601.39867 c -6.95339,-1.80957 -8.06547,-11.08399 -1.71382,-14.2892 6.33639,-3.19733 13.38341,3.36636 10.48314,9.7639 -1.59216,3.51238 -5.30357,5.42747 -8.76971,4.52543 z' id='path4225' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 320.47865,601.29863 c -4.08325,-1.1302 -6.53131,-6.52993 -4.74211,-10.45902 3.76956,-8.27661 16.09403,-4.31789 14.46623,4.64648 -0.77638,4.28001 -5.36159,7.02025 -9.72412,5.81254 z' id='path4223' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 386.97151,612.39913 c -1.51915,-0.60635 -1.95009,-2.63885 -0.80014,-3.78993 0.88016,-0.88141 2.79725,-0.91267 3.56977,-0.0626 1.66467,1.83959 -0.44633,4.77486 -2.77087,3.84907 z' id='path4221' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 274.94144,612.03407 c -1.78458,-1.40363 -0.88517,-4.122 1.36061,-4.11024 2.63636,0.0128 3.36349,3.34434 0.96768,4.43554 -1.1452,0.52135 -1.27548,0.50384 -2.32918,-0.32506 z' id='path4219' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 372.7157,613.89653 c -4.70348,-1.47165 -3.92784,-7.37921 0.96517,-7.34984 2.77962,0.0128 4.35042,2.9074 2.99903,5.52001 -0.70136,1.35699 -2.63022,2.24715 -3.9642,1.82983 z' id='path4217' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 289.34478,613.63898 c -1.49065,-0.65512 -2.20077,-1.80932 -2.20077,-3.57965 0,-3.26821 3.76393,-4.77148 6.29163,-2.51282 3.0373,2.71361 -0.33756,7.74027 -4.09086,6.09247 z' id='path4215' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 348.47532,617.43404 c -7.42584,-2.65022 -6.51254,-13.67346 1.22772,-14.83455 4.54008,-0.68013 8.8361,2.95141 8.85673,7.4881 0.0128,5.23007 -5.25046,9.07201 -10.08595,7.34645 z' id='path4213' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 311.17097,617.57156 c -3.06518,-0.91765 -5.39436,-4.11699 -5.39436,-7.40795 0,-8.15522 11.14264,-10.53566 14.53663,-3.10544 2.66261,5.82968 -3.00804,12.35097 -9.14227,10.51339 z' id='path4211' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 357.50345,629.90721 c -3.67317,-2.4752 -1.96698,-8.18448 2.4457,-8.18448 1.49314,0 3.01428,0.8689 3.80943,2.17327 2.45619,4.02822 -2.34767,8.64468 -6.25513,6.01121 z' id='path4209' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 302.49852,630.36479 c -2.06399,-0.85391 -3.2312,-4.20302 -2.16601,-6.21637 1.5998,-3.02255 6.09636,-3.1667 7.87354,-0.25255 2.23904,3.67254 -1.69204,8.12921 -5.70753,6.46879 z' id='path4207' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 338.98361,633.68327 c -5.77005,-2.09277 -6.90038,-10.22748 -1.87496,-13.49594 4.29903,-2.79614 9.33019,-1.36063 11.42493,3.25996 2.69849,5.95307 -3.38361,12.47225 -9.54997,10.23585 z' id='path4205' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 320.48715,633.79585 c -5.11104,-1.53115 -7.09191,-8.28761 -3.59665,-12.26846 4.68723,-5.33847 13.43442,-2.21828 13.43355,4.79199 0,5.29295 -4.842,8.97275 -9.8369,7.47647 z' id='path4203' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 374.89947,638.47908 c -3.0068,-1.30799 -2.13264,-6.05298 1.1152,-6.05298 3.50163,0 4.54806,4.72836 1.34311,6.0676 -1.37412,0.57386 -1.10144,0.5751 -2.4577,-0.0128 z' id='path4201' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 286.91234,638.47908 c -3.07417,-1.33737 -2.16189,-6.05298 1.17022,-6.05298 3.40885,0 4.41792,4.75924 1.28648,6.0676 -1.37313,0.57386 -1.10146,0.5751 -2.4577,-0.0128 z' id='path4199' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 330.41819,646.43913 c -4.46468,-1.99235 -3.14744,-8.6073 1.71344,-8.6073 5.62463,0 6.12572,7.98206 0.55884,8.88622 -0.70513,0.11259 -1.65029,-0.003 -2.27228,-0.27879 z' id='path4197' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 350.55345,648.99959 c -3.08156,-2.42393 -1.18397,-7.2518 2.66698,-6.77947 2.72861,0.33507 4.13337,3.31573 2.70323,5.73629 -1.04894,1.77644 -3.76692,2.30428 -5.37021,1.04268 z' id='path4195' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 309.74471,649.27715 c -3.33072,-1.83158 -2.09312,-7.01802 1.67393,-7.01802 3.69767,0 5.2592,4.75061 2.25328,6.85585 -0.91767,0.64137 -2.9064,0.72389 -3.92758,0.1638 z' id='path4193' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 358.91946,660.61994 c -2.11813,-1.07145 -1.41488,-4.08549 1.01143,-4.32491 2.33817,-0.23128 3.39712,2.58197 1.52415,4.05362 -1.05269,0.8289 -1.3675,0.86139 -2.53546,0.27129 z' id='path4191' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 303.09501,660.64484 c -2.10963,-1.01644 -1.24273,-4.4063 1.12895,-4.4063 2.54596,0 3.29448,3.39348 0.98269,4.44768 -0.99393,0.45258 -1.0902,0.45007 -2.10988,-0.0375 z' id='path4189' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.5;stroke-width:0.34393701;stroke-miterlimit:4;stroke-dasharray:none' d='m 329.90347,663.16604 c -1.28573,-1.28586 -1.32586,-2.70261 -0.11259,-4.14062 1.93822,-2.30355 5.47412,-0.94767 5.47412,2.09987 0,2.84377 -3.29935,4.10025 -5.35886,2.04075 z' id='path4187' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 35.721766,-7.7940744 c -1.743997,-0.8466632 -2.093461,-2.9014246 -0.726937,-4.2689046 1.411104,-1.410892 3.408243,-1.113391 4.316368,0.642474 1.183087,2.2876973 -1.262719,4.7567089 -3.590723,3.6260031 z' id='path4245-9' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 60.052937,-6.2050905 c -1.734053,-0.5804747 -1.781415,-2.8846302 -0.07482,-3.6978352 0.961045,-0.4575353 1.047637,-0.4521993 1.818722,0.11869 2.000559,1.4871121 0.599722,4.3625512 -1.742826,3.578102 z' id='path4243-2' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 12.275308,-6.2478435 c -1.55402,-0.775035 -1.641476,-2.4554246 -0.183872,-3.5434722 1.922526,-1.4354743 4.12941,1.7690086 2.234255,3.2442525 -0.724792,0.5644421 -1.338622,0.6542406 -2.050161,0.2993308 z' id='path4241-2' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='M 52.810767,5.3934491 C 51.585661,4.6248184 50.991189,2.854844 51.5242,1.5649688 c 1.361922,-3.2889459 6.210772,-2.42292392 6.210772,1.1092096 0,2.524163 -2.785538,4.0617321 -4.925814,2.7190483 z' id='path4239-8' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='M 18.201516,5.7462126 C 15.629991,4.8108197 15.3837,1.0351564 17.813473,-0.20745972 c 1.578612,-0.80710828 3.719964,-0.010947 4.40745,1.62950512 1.074366,2.5723714 -1.429703,5.2665119 -4.019407,4.3241672 z' id='path4237-9' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='M 35.707008,9.4685457 C 33.607031,8.8538602 32.466064,6.2477994 33.439302,4.2892501 c 1.871745,-3.76646284 7.234356,-2.6111826 7.234356,1.5584239 0,2.6699765 -2.353646,4.38574 -4.96665,3.6208717 z' id='path4235-7' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 72.676104,13.43652 c -1.743776,-1.743792 -0.591163,-4.5328441 1.87731,-4.5328441 1.630359,0 2.655432,0.9984623 2.655432,2.5867021 0,2.411167 -2.846042,3.632944 -4.532742,1.946142 z' id='path4233-3' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m -2.6118354,13.490047 c -1.689898,-1.689804 -0.50458,-4.5865164 1.87751521,-4.5865164 2.48857549,0 3.60516429,2.6897534 1.84651939,4.4482874 -1.12696059,1.127072 -2.6775778,1.184574 -3.7240346,0.137913 z' id='path4231-6' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 58.925326,22.982933 c -1.868631,-0.94609 -2.604016,-3.617563 -1.496089,-5.435224 1.98603,-3.257292 7.090586,-1.834002 7.090586,1.977147 0,2.765871 -3.134257,4.703044 -5.594813,3.458077 z' id='path4229-1' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='M 11.563231,23.079195 C 8.8646101,21.96282 8.6494171,17.8284 11.210459,16.267847 c 3.352443,-2.044287 7.278622,1.881893 5.234456,5.234438 -0.966398,1.586 -3.151572,2.291868 -4.880068,1.57691 z' id='path4227-2' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 43.427251,25.754729 c -5.945566,-1.54729 -6.896462,-9.477476 -1.465419,-12.218124 5.417994,-2.733909 11.44362,2.878441 8.963714,8.348721 -1.361392,3.003296 -4.53487,4.640813 -7.498628,3.869515 z' id='path4225-9' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 26.937323,25.66919 c -3.491424,-0.96639 -5.584662,-5.583483 -4.054789,-8.943091 3.2232,-7.0769988 13.761362,-3.692056 12.369496,3.973019 -0.663852,3.659666 -4.584482,6.002736 -8.314707,4.970072 z' id='path4223-3' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 83.792715,35.160784 c -1.298966,-0.518466 -1.667444,-2.256376 -0.684169,-3.240618 0.75259,-0.753659 2.391817,-0.780388 3.052368,-0.05353 1.423393,1.572961 -0.381639,4.082793 -2.36926,3.291186 z' id='path4221-1' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m -11.999727,34.848636 c -1.525924,-1.200188 -0.756875,-3.524558 1.163403,-3.514502 2.2542456,0.01093 2.8759846,2.859611 0.827424,3.792653 -0.979215,0.445786 -1.090612,0.430813 -1.991589,-0.277946 z' id='path4219-9' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 71.60314,36.441151 c -4.021758,-1.258349 -3.35854,-6.309668 0.825278,-6.284555 2.376743,0.01093 3.719871,2.486001 2.564352,4.71994 -0.599706,1.160309 -2.248997,1.921448 -3.38963,1.564615 z' id='path4217-4' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 0.31599301,36.22093 c -1.274596,-0.560167 -1.88179081,-1.547077 -1.88179081,-3.060816 0,-2.794516 3.2183864,-4.079902 5.3797219,-2.148612 2.597074,2.3203 -0.2886341,6.618396 -3.49793109,5.209428 z' id='path4215-7' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 50.876158,39.465935 c -6.349539,-2.266097 -5.568613,-11.69163 1.049775,-12.684432 3.882041,-0.581552 7.555396,2.523633 7.573036,6.402775 0.01094,4.472025 -4.489458,7.757114 -8.624093,6.281657 z' id='path4213-8' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 18.978697,39.583522 c -2.620913,-0.784645 -4.612502,-3.520273 -4.612502,-6.334242 0,-6.973203 9.527628,-9.008622 12.429692,-2.655337 2.276692,4.984726 -2.572055,10.56082 -7.81719,8.989579 z' id='path4211-4' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 58.595752,50.131245 c -3.140781,-2.116446 -1.681886,-6.998223 2.091221,-6.998223 1.276724,0 2.57739,0.742962 3.257291,1.858276 2.10019,3.444371 -2.007399,7.391722 -5.348512,5.139947 z' id='path4209-5' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='M 11.563231,50.522502 C 9.7983956,49.792358 8.8003609,46.928668 9.7111624,45.207133 c 1.3679256,-2.584462 5.2127546,-2.707719 6.7323496,-0.215945 1.914514,3.140242 -1.446796,6.950962 -4.880281,5.531204 z' id='path4207-0' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 42.760176,53.360003 c -4.933739,-1.789444 -5.90024,-8.74511 -1.603204,-11.539839 3.675929,-2.390869 7.977874,-1.163422 9.769003,2.787461 2.30737,5.090232 -2.893191,10.664523 -8.165799,8.752266 z' id='path4205-3' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 26.944591,53.456265 c -4.370246,-1.309224 -6.064009,-7.086404 -3.075352,-10.49027 4.007864,-4.564712 11.487237,-1.896763 11.486493,4.09744 0,4.525789 -4.140201,7.672239 -8.411141,6.39283 z' id='path4203-6' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 73.470394,57.460708 c -2.570994,-1.118409 -1.823535,-5.175661 0.953563,-5.175661 2.994104,0 3.888865,4.043032 1.14844,5.188163 -1.174955,0.490685 -0.941798,0.491744 -2.101481,-0.01094 z' id='path4201-1' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m -1.7638899,57.460708 c -2.6285995,-1.143531 -1.8485455,-5.175661 1.00060891,-5.175661 2.91477159,0 3.77758709,4.069436 1.1000177,5.188163 -1.1741082,0.490685 -0.9418145,0.491744 -2.10148091,-0.01094 z' id='path4199-0' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 35.436227,64.267029 c -3.817569,-1.703578 -2.69125,-7.359758 1.465095,-7.359758 4.809396,0 5.237858,6.825141 0.477841,7.598252 -0.602929,0.09627 -1.411097,-0.0026 -1.942936,-0.238382 z' id='path4197-6' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 52.653085,66.456377 c -2.63492,-2.072606 -1.012366,-6.200725 2.280428,-5.796855 2.333125,0.286506 3.53428,2.835149 2.311424,4.904873 -0.896907,1.518963 -3.220944,1.970299 -4.591852,0.891555 z' id='path4195-3' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 17.759159,66.693707 c -2.847966,-1.566111 -1.789743,-6.000828 1.431311,-6.000828 3.161731,0 4.496933,4.062057 1.92669,5.862163 -0.784663,0.54841 -2.485147,0.618969 -3.358317,0.140059 z' id='path4193-2' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 59.806526,76.392474 c -1.811129,-0.916154 -1.209807,-3.493339 0.864833,-3.698058 1.999276,-0.197758 2.904742,2.20774 1.303241,3.46609 -0.900114,0.708758 -1.169296,0.73654 -2.167972,0.231968 z' id='path4191-0' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 12.073266,76.413765 c -1.803861,-0.869117 -1.062609,-3.76765 0.96532,-3.76765 2.176949,0 2.816978,2.901629 0.840259,3.803033 -0.84987,0.386983 -0.932186,0.384836 -1.804074,-0.03207 z' id='path4189-6' /%3E%3Cpath style='fill:%233063ee;fill-opacity:0.47999999;stroke-width:0.295035' d='m 34.996111,78.569543 c -1.099377,-1.099488 -1.13369,-2.310895 -0.09628,-3.540479 1.657295,-1.969674 4.680702,-0.810315 4.680702,1.795515 0,2.431594 -2.821143,3.50596 -4.582147,1.744964 z' id='path4187-1' /%3E%3Cdefs id='defs912'%3E%3CclipPath id='SvgjsClipPath1057'%3E%3Crect width='340' height='696' x='0' y='0' id='rect909' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}

.css-project-description-sc {
  display: flex-end;
  display: flex;
  align-content: flex-end;
  margin-left: auto;
}
.css-project-description-l {
  margin-top: 4.5rem;
}

.css-project-description-l img {
  border-radius: 8px;
}
