@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

:root {
  --text-color-primary: #071034;
  --text-color-secondary: #727384;

  --text-size-primary: 1rem;
  --text-size-secondary: 0.8rem;
  --text-size-title: 1.25rem;

  --base-color-black-primary: #070a0e;
  --base-color-black-secondary: #86898d;

  --base-color-white-primary: #020202;
  --base-color-white-secondary: #f7f7fa;

  --complementary-color-green: #7fedca;
  --complementary-color-yellow: #fac292;
  --complementary-color-blue: #3063ee;

  --color-soft-blue: rgba(48, 99, 238, 0.1);
  --border-primary: rgba(100, 121, 143, 0.122);
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  min-width: 100%;
  height: 64px;
  box-shadow: inset 0 -1px 0 var(--border-primary);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

ol {
  margin-left: 4rem;
}

li {
  margin-top: 0.5rem;
}

#app {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: start;
  color: var(--text-color-secondary);
  text-rendering: geometricPrecision;
}

#code-layout {
  width: 888px;
  height: 1080px;
}

#css-green-button {
  background: var(--complementary-color-green);
}

#css-blue-button {
  background: rgba(7, 16, 52, 0.1);
}

.css-main-panel-button.active{
  background: rgba(23, 74, 213, 1);
}

#css-yellow-button {
  background: var(--complementary-color-yellow);
}

#css-black-button {
  background: var(--base-color-black-primary);
}

#css-last-button {
  margin-top: 20rem;
}

.css-header-avatar-img {
  border-radius: 8px;
  object-fit: cover;
  width: 2.1vw;
  height: 2.1vw;
}

.css-svg-icon {
  width: 1.25vw;
  height: 1.25vw;
}

.css-main-flex-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.css-main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

.css-main-panel-button {
  width: inherit;
  height: 72px;
  margin-top: 1rem;
  cursor: pointer;
  justify-content: center;
  display: flex;
}

.css-header-logo {
  color: var(--text-color-primary);
  font-size: 20px;
  font-weight: bold;
}

.css-header-avatar-wrap {
  width: 10vw;
  height: 2.1vw;
  color: white;
  text-align: center;
  display: flex;
  border-radius: 6px;
}

.css-header-avatar-con {
  background: #212428;
  width: 2.1vw;
  height: 2.1vw;
  font-size: var(--text-size-primary);
  border-radius: 8px;
}

.css-header-status {
  color: rgba(0, 211, 149, 1);
  font-size: var(--text-size-secondary);
  background: rgba(0, 211, 149, 0.1);
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.css-header-status span {
  margin-right: 5px;
  font-size: 20px;
  margin-bottom: 3px;
}

.css-left-panel-button button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.css-header-avatar-desc {
  height: inherit;
  display: block;
  margin-left: 10px;
  text-align: start;
}

.css-header-avatar-desc-n {
  color: var(--text-color-primary);
}

.css-header-avatar-desc-r {
  color: var(--text-color-secondary);
  font-size: var(--text-size-secondary);
}

.css-main-left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.75vw;
  min-width: 3.75vw;
  box-shadow: inset -1px 0 0 var(--border-primary);
  height: 100%;
  background: linear-gradient(
    22.58deg,
    rgba(23, 74, 213, 1) 0%,
    rgba(48, 99, 238, 1) 100%
  );
}

.css-header-search-search {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.css-header-search-search svg {
  position: fixed;
  margin-left: 1rem;
}

.css-header-search-search input {
  outline: none;
  width: 25vw;
  border: none;
  border-radius: 8px;
  height: 46px;
  color: var(--text-color-primary);
  background: var(--base-color-white-secondary);
  padding-left: 3rem;
}
