.css-web-tool-wrap {
  width: 100%;
  height: 100vh;
  background: var(--base-color-white-secondary);
  display: flex;
  justify-content: center;
}

.css-web-tool-con {
  width: 1300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.css-web-tool-title {
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.css-web-tool-title svg {
  margin-left: 10px;
}

.css-web-tool-panel {
  line-height: 3rem;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px solid var(--border-primary);
  border-radius: 4px;
  margin-top: 5rem;
  background: #ffffff;
}

.css-web-tool-panel-b {
  padding: 0 4rem;
  font-weight: 600;
  border-right: 1px solid var(--border-primary);
  cursor: pointer;
  color: var(--base-color-black-primary);
}

.css-web-tool-panel-b.active {
  border-bottom: 2px solid var(--complementary-color-blue);
}
