.css-team-dev-wrap {
  width: 100%;
  height: 100%;
  background: var(--base-color-white-secondary);
}

.css-team-dev-header {
  width: auto;
  height: 50vh;
}

.css-team-dev-page {
  justify-content: center;
  display: flex;
  margin-top: 5rem;

}

.css-team-dev-legend {
  font-weight: bold;
  padding: 0 20rem;
  line-height: 2rem;
  text-align: center;
  color: var(--text-color-primary);
  font-size: var(--text-size-title);
}

.css-team-dev-current {
  color: var(--complementary-color-blue);
}
